{% extends 'base.html' %}

{% block content %}
<h1>CoBu Mission Board</h1>

<div class="posts-container">
    {% for post in object_list %}
    <div class="post-block">
        <a href="{% url 'post-details' post.pk %}">
            <h2>{{ post.title }}</h2>
        </a>
        <div class="post-meta">
            <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> |
            {{ post.platform }} | 
            {{ post.author }} | 
            {{ post.post_date }}
        </div>
        <div class="post-content">
            {{ post.body|slice:":200" |safe }}...
            <a href="{% url 'post-details' post.pk %}">Read more</a>
        </div>

        {% if user.is_authenticated and post.author.id == user.id %}
        <div class="post-actions">
            <small>
                <a href="{% url 'update_post' post.pk %}">Edit</a>
                <a href="{% url 'delete_post' post.pk %}">Delete</a>
            </small>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
